@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color: 255, 255, 255;
  --primary-color: 8, 16, 58; /* brand navy */
  --boldblue-color: 18, 63, 223; /* bold blue */
  --red-color: 223, 41, 96;
  --green-color: 8, 172, 14;
  --contrast-color: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --bg-color: 24, 29, 36;
    --primary-color: 200, 200, 200;
    --boldblue-color: 124, 143, 213;
    --red-color: 255, 70, 126;
    --green-color: 84, 232, 90;
    --contrast-color: 36, 40, 50;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
